<html>
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <h4>폼 전송 - 실습</h4>
    <form action="/user/register" target="_blank" method="POST">
        <fieldset>
            <legend>필수 입력</legend>
                아이디: <input type="text" name="id"><br>
                비밀번호: <input type="paassword" name="pw"><br>
                이름: <input type="text" name="name"><br>
                나이: <input type="text" name="age"><br>
                <input type="file" name="file">
        </fieldset>
        <br>
       
        <button>회원가입</button>
    </form>
</body>
</html>