<html>
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>로그인</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
        function Login() {
            var form =document.getElementById("form_info");

            axios({
                    method: "post",
                    url: "http://localhost:8080/user/login",
                    data: {
                        userid: form.user_id.value,
                        userpassword: form.user_password.value
                    }
                })
                .then ((rep) => { return rep.data;})  
                .then ((d) => { 
                    
                    if (d == true ) {
                        alert("로그인 성공!");

                        var html = "<button type='button' onclick='editUser();' class='btn btn-danger'>회원정보 수정</button>&nbsp;<button type='button' onclick='deleteUser();' class='btn btn-danger'>회원탈퇴</button>";
                        $(".loginpass").html(html);

                        var navbar_name = "<a class='navbar-brand' href='#'' > My page </a>";
                        $(".title").html(navbar_name);
                        
                    }
                    else {
                        alert("로그인 실패!");
                    }

                    });

                }

            function editUser(id) {

                var form = document.getElementById("form_info");
                axios({
                    method: 'post',
                    url: 'http://localhost:8080/user/login/edit',
                    data: {
                        userid : form.user_id.value,
                        userpassword : form.user_password.value
                    }
                })
                .then((rep) => {return rep.data; })
                .then((data) => {
                    alert("수정 성공");
                });
            }


            function deleteUser(id) {
                var form = document.getElementById("form_info");
                
                axios({
                    method:'post',
                    url: 'http://localhost:8080/user/login/delete',
                    data: { userid: form.user_id.value }
                })
                .then((rep) => { return rep.data; })
                .then((data) => {
                    alert("탈퇴ㅠㅠ");
                    document.location.href= "/user/login";

                })
            }




    </script>




    <style>
        * {
            font-family: 'Gaegu', cursive;
        }
        .navbar-brand {
           padding-left: 10px;
           font-weight: bold;
           font-size:x-large
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="title">
        <a class="navbar-brand" href="#" > 로그인</a>
        </div>
      </nav>
      
      <br>

      <form id="form_info">
        <fieldset style="border:1 solid; color:#FE2E64" >
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1" style="font-weight: bold;" >ID</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="user_id" required>
            </div>
        
            <br>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1" style="font-weight: bold;" >Password</span>
                <input type="password" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" name="user_password" required>
            </div>

        </fieldset>
        <div class="loginpass">
            <button type="button" onclick="Login();" class="btn btn-danger">로그인</button>
        </div>
        
    </form>

</body>
</html>