<html>
    <head>
        <script>
            console.log(document.cookie);
            document.cookie = "user=sesac; expires=Sat,13 Aug 2022 13:00:00 GMT; path=/";     //이렇게 명확한 날짜를 설정해줘야함. 데이터파일이 텍스트형태라서 "~~~" 이렇게 쭉쭉 쓸 수 있는것.  여러개 옵션은 세미콜론으로 구분해서 적는다.
            console.log(document.cookie);     
            //이렇게 설정해주고 localhost:8000/get경로로 가면 "user=sesac"가 나오는 것을 확인할 수 있다.

            var cookieArr = document.cookie.split(";");
            for (var i in cookieArr) {
                console.log(cookieArr[i]);
            }
            
        </script>
    </head>
    <body></body>
</html>