<html>
    <head>

        <script>

            window.open("./popup","popup window",'width =200, height=100, top = 500, left = 500, location=no');
            
        </script>
    
    </head>

    <body>
        <!-- <a href = "javascript:popup()" target = "_blank"></a> -->
        <h1> 예제 홈페이지입니당</h1>

    </body>
</html>